DB_ROOT_PASSWORD=password
DB_NAME=wordpress
DB_USER=wordpress_user
DB_PASSWORD=password
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_PORT=8080
PHPMYADMIN_PORT=8081

# Redis Configuration
WP_REDIS_ENABLED=true
WP_REDIS_HOST=redis
WP_REDIS_PORT=6379
WP_REDIS_PASSWORD=
WP_REDIS_DATABASE=0
WP_REDIS_PREFIX=wp_

# Wordpress Installation
WORDPRESS_URL=http://localhost:8000
WORDPRESS_TITLE="My WordPress Site"
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=password
WORDPRESS_ADMIN_EMAIL=admin@example.com
